/*Scrollbar*/
$scroll_from: #0085eb;
$scroll_to: #008cdd;
$scroll_active: #0091ff;
$scroll_track: #101d2e;
$scroll_track_active: #142438;

/*selection*/
$selection_color: #EBEAF8;
$selection_background: #0b4b7d;

$loader_mask: #000000;