export default [
{ Comment: '' },
{ Comment: 'robots.txt' },
{ Comment: '' },
{ Comment: 'This file is to prevent the crawling and indexing of certain parts' },
{ Comment: 'of your site by web crawlers and spiders run by sites like Yahoo!' },
{ Comment: 'and Google. By telling these "robots" where not to go on your site,' },
{ Comment: 'you save bandwidth and server resources.' },
{ Comment: '' },
{ Comment: 'This file will be ignored unless it is at the root of your host:' },
{ Comment: 'Used:    http://sumer5020.com/robots.txt' },
{ Comment: 'Ignored: http://sumer5020.com/site/robots.txt' },
{ Comment: '' },
{ Comment: 'For more information about the robots.txt standard, see:' },
{ Comment: 'http://www.robotstxt.org/robotstxt.html' },
{ Comment: 'Stand with palestine | Free palestine' },

{ BlankLine: true },
{ UserAgent: '*' },
{ CrawlDelay: '10' },

{ BlankLine: true },
{ Comment: 'Directories' },
{ Allow: '/img/' },
{ Disallow: '/video/' },
{ Disallow: '/doc/' },

{ BlankLine: true },
{ Comment: 'Files' },
{ Disallow: '/CHANGELOG.txt' },
{ Disallow: '/LICENSE.txt' },

{ BlankLine: true },
{ Comment: 'Paths (clean URLs)' },
{ Disallow: '/dashboard/' },
{ Disallow: '/profile/' },
{ Disallow: '/auth/' }
]